mat-toolbar{
    display: flex;
    justify-content: space-around;
}
.container{
    padding: 10px;
}
.circle{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  };
  .text{
      margin-right: 10px;
  }