<mat-toolbar class="d-flex justify-content-between">
    <span>Movie Title</span>
    <span>Time Slot</span>
    <button class="btn" mat-raised-button>Reset All</button>
</mat-toolbar>

<div class="container py-1">
    <table style="width:100%">
        <tr>
            <th>Time Purchased</th>
            <th>Customer Name</th>
            <th>Seat Number/s</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>6:00AM-8:00AM</td>
            <td>32</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>